<div class="text-center">
  <h1>Restaurants</h1>
  <br>
  <ul class="list-unstyled">
    <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ul>
</div>
